<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {{ title }} {% endblock %} </title>
  <meta content="" name="description">

  <meta content="" name="keywords">
  <meta name="google-signin-client_id" content="331292061459-335eds4gfjul3819gpkc7t80q5sdoaj9.apps.googleusercontent.com">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.4.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center contact">

    <div class="container">

        <div class="row gy-4">
        <div class="col-lg-12">
            <br><br>
        </div>
        <div class="col-lg-12">
            <!-- ======= Flash ======= -->
            {% include 'includes/_message.html' %}
            <!-- End Flash -->
        </div>
        
        <div class="col-lg-6 d-flex flex-column" data-aos="zoom-out" data-aos-delay="200">
            <img src="static/img/frsc.png" class="img-fluid" height="20%" alt="">
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <!-- <div id="player"></div> -->
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <header class="section-header" style="text-align: left;">
                <p>Register Your Vehicle</p>
                </header>
            <!-- <p>Sign Up</p> -->
            <form action="/register" method="post" class="php-email-form" enctype=multipart/form-data>
                <div class="row gy-4">

                    <div class="col-md-6">
                    <input type="text" name="phone_number" class="form-control" placeholder="Phone number tie to vehicle" required>
                    </div>
                    <div class="col-md-6">
                    <input type="text" name="plate_number" class="form-control" placeholder="Vehicle Plate Number" required>
                    </div>

                    <div class="col-md-12">
                    <select name="vehicle_type" class="form-control" required="">
                        <option value="">Select vehicle type</option>
                        <option value="TRUCK">Truck</option>
                        <option value="CAR">Car/pickup</option>
                    </select>
                    </div>

                    <div class="col-md-6 text-center">
                    <button type="submit">Register</button>
                    </div>
                    <div class="col-md-6 text-center">
                    <img id="logoimg" src="static/img/frsc.png" width="100%" height="50" alt="">
                </div>

                </div>
                </form>
                
        </div>

        </div>
    </div>

    </section><!-- End Hero -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  

  <script src="static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>

