{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}     


{% block body %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center contact">

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-12">
            <br><br>
        </div>
        <div class="col-lg-12">
          <!-- ======= Flash ======= -->
          {% include 'includes/_message.html' %}
          <!-- End Flash -->
        </div>
        
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <!-- <img src="static/img/pricing-ultimate.png" class="img-fluid" height="20%" alt=""> -->
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <div id="player"></div>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <header class="section-header" style="text-align: left;">
                <p>Register Your Vehicle</p>
              </header>
            <!-- <p>Sign Up</p> -->
            <form action="/register" method="post" class="php-email-form" enctype=multipart/form-data>
                <div class="row gy-4">
  
                  <div class="col-md-6">
                    <input type="text" name="phone_number" class="form-control" placeholder="Phone number tie to vehicle" required>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="plate_number" class="form-control" placeholder="Vehicle Plate Number" required>
                  </div>
  
                  <div class="col-md-12">
                    <select name="vehicle_type" class="form-control" required="">
                        <option value="">Select vehicle type</option>
                        <option value="TRUCK">Truck</option>
                        <option value="CAR">Car/pickup</option>
                    </select>
                  </div>

                  <div class="col-md-6 text-center">
                    <button type="submit">Sign up</button>
                  </div>
                  <div class="col-md-6 text-center">
                    <img id="logoimg" src="static/img/frsc.png" width="100%" height="50" alt="">
                </div>

                </div>
              </form>
              
        </div>

      </div>
    </div>


  </section><!-- End Hero -->

  {% endblock %}

